html {
  text-align: center;
  font-family: monospace;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #A6D0DD;
  margin-bottom: 100px;
}

.main-container {
  background-color: #FF6969;
  box-shadow: 0 5px 15px rgba(37, 37, 37, 0.95);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  max-width: 350px;;
}

.screen {
  grid-column: 1 / -1;
  background-color: rgb(93, 91, 91);
  color: azure;
  font-size: 5em;
  display: flex;
  border-radius: 10px;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.screen-last {
  min-height: 32px;
  font-size: 20px;
}

.screen-current {
  min-height: 64px;
  font-size: 40px;
}

button {
  cursor: pointer;
  font-size: 1.8rem;
  border-radius: 10px;
  outline: none;
  color: azure;
  border: 0px;
  background-color: rgba(255, 255, 255, 0.05);
  transition: .7s cubic-bezier(0.075, 0.82, 0.165, 1);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.75);
  padding: 15px;
  margin: 5px;
}

button:hover {
  background-color: #f3ba8c;
}

.button-rows {
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: 3px;

}

#equal-btn {
  grid-column-start: 3;
  grid-column-end: 5;
}

#clear-btn {
  grid-column-start: 1;
  grid-column-end: 3;
}

#clear-btn:hover{
  background-color: #F7D060;
}
.delete:hover{
  background-color: #BA90C6 ;
}
.operator:hover{
  background-color: #39b3c8;
  color: black;
}
.equal:hover{
  background-color: rgba(81, 255, 154, 0.712) !important;
  color: black;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  font-size: 18px;
}
.footer  > p > a{
  color: rgb(0, 0, 0);
  text-decoration: none;
  transition: 1s;
}

@media only screen and (max-width: 768px) {
  .calculator {
   transform: scale(.6);
  }
  .footer {
   transform: scale(.8);
  }
   
}